{% load static %}
<!doctype html>
<html lang="en">
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <body>
    {% include 'navbar.html' %}
    {% if login %}
      {% ifequal login 'S' %}
      <div class="container alert alert-success alert-dismissible fade show mt-2" role="alert">
          Login Successfull!!!
        </div>
      {% else %}
        <div class="container alert alert-danger alert-dismissible fade show mt-2" role="alert">
          Login Failed
        </div>
      {% endifequal %}
    {% endif %}
    <div class="container mt-3">
      <span><h1> {{ article.title }} </h1> by {{ article.username.username}} </span>
      <hr>
      <div class="card p-4">
        {{ article.content|safe }}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include 'bootstrap_scripts.html' %}
  </body>
</html>
